*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}
html,body{
  height: 100%;
  width: 100%;
}
.parent{
  min-height: 100vh;
  width: 100%;
  background-color:#111 ;
  padding: 30px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.card *{
  color: #000;
}
.card{
  height: 330px;
  width: 280px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction:column ;
  justify-content: space-between;
  /* box-shadow: 0 10px 30px rgba(127, 236, 185, 0.3); */
  transition: transform .18s;
}
.card:hover{
  background-color: rgb(199, 255, 202);
  transform: translateY(-3px) rotate(1deg);
}
.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.top img{
  height:40px ;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}
.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 4px 8px;
  font-size: 13px;
  border-radius:5px ;
  gap: 3px;
  background-color: transparent;
  color: #dadada;
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #bab8b8;
  padding-top: 15px;
}

.center h3{
  font-size: 17px;
  font-weight: 500;
}
.center h3 span{
  font-size: 9px;
  font-weight: 900;
  color: rgb(211, 211, 14);
}
.center h2{
  font-size: 20px;
  font-weight: 500;
}
.center .tag{
  display: flex;
  gap: 5px;
  margin-top: 10px;
}
.center .tag h4{
  font-size: 10px;
  background-color:#dadada ;
  color: black;
  padding:4px 8px ;
  font-weight: 500;
  border-radius: 3px;
}
.bottom button{
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 6px;
  border: none;
  font-weight: 300;
  column-width: 600;
}
.bottom h3{
  font-size:17px ;
}
.bottom p {
  font-size: 10px;
}